* {
    margin: 0;
    padding: 0;
}

body {
    background: url('Pictures/background.jpg') no-repeat;
    background-size: cover;
}

.img-animation-footer {
    display: block;
    animation: 10s linear 0s infinite alternate move-eye;
    height: 7rem;
    overflow: hidden;
}

@keyframes move-eye {
    from {
        margin-left: 22%;
        transform: scaleX(1);
    }

    to {
        margin-left: 70%;
        transform: scaleX(-1);
    }
}

.contact {
    text-align: end;
}

p {
    text-align: end;
    font-size: 1.2rem;
}